

.App{
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#main{
  order: 2;
  width: 50%;
  color: bisque;
  margin-left: 10%;
  text-align: center;
  height: 100%;
}

#hand{
  color: whitesmoke;
}

#anagrams{
  margin-top: 10%;
  background-color: bisque;
  color: darkgreen;
  min-height: 300px;
  text-align: left;
  padding-left: 10px;
}

.letter-scores{
  background-color: bisque;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

